* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}
.grid {
  display: grid;
}
.grid-5-cols {
  grid-template-columns: repeat(5, 1fr);
}
.jc {
  justify-content: center;
}

.ac {
  align-items: center;
}

.ml-s {
  margin-left: 0.8rem;
}
.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}
